.news-page-wrapper {
    height: 86%;
    width: 100%;
	overflow-x: hidden;
	background-color: rgb(202, 202, 202);
	opacity: 0.8;
}

.news-page-pagination {
	height: 9%;
	background-color: darkgray;
	border-top: black 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination-page {
	padding: .3rem;
	margin: .3rem;
	height: 1.5rem;
	width: 1.5rem;
	border: black 1px solid;
}

@media screen and (max-height: 500px) {
	.news-page-wrapper {
		height: 76%;
	}
}

/* #news-form::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#news-form::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#news-form::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */